/* Box sizing */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}










/* Generic */

body {
  background: url(../assets/bg-main-mobile.png) no-repeat 8em -8em / contain;
}

@media screen and (min-width: 769px) {
  body {
    background: url(../assets/bg-main-tablet.png) no-repeat -10em -15em / contain;
  }
}

@media screen and (min-width: 1201px) {
  body {
    background: url(../assets/bg-main-desktop.png) no-repeat 12em -12em / cover;
  }
}

body,
h1,
p {
  margin: 0;
}










/* Text */

html {
  font: 400 16px / 26px sans-serif;
}

h1 {
  font: 700 40px / 48px sans-serif;
}

h2 {
  font: 700 32px / 40px sans-serif;
}

@media screen and (min-width: 769px) {
  html {
    font: 400 18px / 28px sans-serif;
  }
  
  h1 {
    font: 700 64px / 64px sans-serif;
  }

  h2 {
    font: 700 32px / 40px sans-serif;
  }
}

@media screen and (min-width: 1201px) {
  html {
    font: 400 20px / 34px sans-serif;
  }
  
  h1 {
    font: 700 88 / 88px sans-serif;
  }

  h2 {
    font: 700 40px / 52px sans-serif;
  }
}










/* Header */

.logo {
  width: 146px;
  height: 32px;
  margin: 40px 0 64px 24px;
  background: url(../assets/logo.svg) no-repeat center / contain;
}

@media screen and (min-width: 769px) {
  .logo {
    margin: 60px 0 95px 40px;
  } 
}

@media screen and (min-width: 1201px) {
  .logo {
    margin: 60px 0 127px 164px;
  } 
}










/* Hero */

.hero__heading {
  max-width: 327px;
  margin: 0 auto 20px 24px;
}

.hero__body {
  max-width: 327px;
  margin: 0 auto 166px 24px;
}

@media screen and (min-width: 769px) {
  .hero__heading {
    max-width: 520px;
    margin: 0 0 28px 40px;
  }
  
  .hero__body {
    max-width: 514px;
    margin: 0 0 249px 40px;
  }
}

@media screen and (min-width: 1201px) {
  .hero__heading {
    max-width: 1015px;
    margin: 0 0 40px 164px;
  }
  
  .hero__body {
    max-width: 825px;
    margin: 0 0 321px 164px;
  }
}










/* Pricing */

.pricing-container{
  max-width: 375px;
  padding: 380px 0 0 0;
  background: url(../assets/bg-pattern-2.svg) no-repeat top / 280px 420px, linear-gradient(#191826, #191826);
  border-radius: 1em;
}

.pricing__illustration {
  width: 208px;
  height: 430px;
  margin: -30rem auto 48px;
  background: url(../assets/illustration-app.png) no-repeat center / contain;
}

.pricing {
  max-width: 375px;
  padding: 48px 36px;
  background: #FA7453;
  color: #FCFAF9;
  border-radius: 1em;
}

.pricing__heading {
  margin: 0 0 12px 0;
}

.pricing__body {
  margin: 0 0 36px 0;
}

.pricing__price {
  margin: 0 0 32px 0;
}

.pricing__cta-ios {
  margin: 0 0 16px 0;
}

@media screen and (min-width: 769px) {
  .pricing-container{
    max-width: 696px;
    margin: 0 auto;
    padding: 1px 58px 1px 240px;
  }
  
  .pricing__illustration {
    width: 270px;
    height: 556px;
    margin: -8rem 0 -10rem -10rem;
  }

  .pricing {
    max-width: 399px;
    margin: 0 0 -4rem 0;
    padding: 48px;
  }
}

@media screen and (min-width: 1201px) {
  .pricing-container{
    max-width: 1110px;
    margin: 0 auto;
    padding: 1px 95px 1px 569px;
  }
  
  .pricing__illustration {
    width: 312px;
    height: 642px;
    margin: -10rem 0 -18rem -25rem;
  }

  .pricing {
    max-width: 446px;
    padding: 58px;
  }
  
  .pricing__heading {
    margin: 0 0 22px 0;
  }
  
  .pricing__body {
    margin: 0 0 39px 0;
  }
  
  .pricing__price {
    margin: 0 0 46px 0;
  }
}










/* Cta */

.cta {
  display: block;
  padding: 1em 2em;
  border-radius: 1em;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.cta--primary {
  background: #191826;
  color: #FCFAF9;
}

.cta--secondary {
  background: #FCFAF9;
  color: #191826;
}










/* Logos */

.apple-logo {
  display: inline-block;
  width: 17px;
  height: 20px;
  margin: 0 7px -2px 0;
  background: url(../assets/icon-apple.svg);
}

.android-logo {
  display: inline-block;
  width: 17px;
  height: 20px;
  margin: 0 7px -2px 0;
  background: url(../assets/icon-android.svg);
}










/* Helpers */

.price-amount {
  font-size: 4rem;
  font-weight: 700;
}